
<!-- Tabella con dati hardcoded -->
<div class="table-container">
  <h1>Elenco Utenti - MFE1 Versione aggiornata v2</h1>
  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Età</th>
        <th>Città</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.nome }}</td>
        <td>{{ user.cognome }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.eta }}</td>
        <td>{{ user.citta }}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet />
